@font-face {
  font-family: BigShoulders-Bold;
  src: url(../fonts/Big_Shoulders_Display/BigShouldersDisplay-Bold.ttf);
}
@font-face {
  font-family: Lexend-Regular;
  src: url(../fonts/Lexend_Deca/LexendDeca-Regular.ttf);
}

$fontTitle: BigShoulders-Bold;
$fontText: Lexend-Regular;

$bgSedans: rgb(227, 136, 38);
$bgSUV: rgb(0, 105, 112);
$bgLuxury: rgb(0, 66, 65);
$transparentWhite: rgba(255, 255, 255, 0.75); /* paragraphs */
$lightGray: rgb(242, 242, 242); /* bg, heading, buttons */

html {
  font-size: 15px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $lightGray;

  @media screen and (max-width: 768px) {
    height: auto;
  }
}
